body{
    color: #7d6379;

    line-height: 19px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background: url(./photos/TB2DSjybL6H8KJjSspmXXb2WXXa_!!168131739.jpg)
}

*{
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 40px;
}
.container{
    width: 100%;
    clear: both; 
    margin: 0 auto;
    max-width: 960px;
}

.my-image{
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

footer{
    background-color: #9b98a3;
    padding: 30px 0;
    border-top: 5px solid #3d3847;
    font-size: 15px;
    color: #3d3847;
    text-align: center
}

.hangman{
    color: #3d3847;
    background: #9b98a3;
    padding: 15px;
    width: 350px;
    height: 250px;
}

.rpg{
    color: #3d3847;
    background: #9b98a3;
    padding: 15px;
    width: 350px;
    height: 250px;
}

.trivia{
    color: #3d3847;
    background: #9b98a3;
    padding: 15px;
    width: 350px;
    height: 250px;
}

.rutgers {
    color: #3d3847;
    background: #9b98a3;
    padding: 15px;
    width: 350px;
    height: 250px;
}

.rps{
    color: #3d3847;
    background: #9b98a3;
    padding: 15px;
    width: 350px;
    height: 250px;
}

.card{
    width: 350px;
    text-align: center;
    background: #9b98a3;
}

#hangman{
    float: left;
    position: relative;
    overflow: inherit;
    margin-left: 300px;
    margin-top: 10px;
}

#rpg{
    float: right;
    position: relative;
    overflow: inherit;
    margin-right: 300px;
    margin-top: 10px;
}

#trivia{
    float: left;
    position: relative;
    overflow: inherit;
    margin-left: 300px;
    margin-top: 10px;
}

#rutgers{
    float: right;
    position: relative;
    overflow: inherit;
    margin-right: 300px;
    margin-top: 10px;
}

#rps{
    float: left;
    position: relative;
    overflow: inherit;
    margin-left: 300px;
    margin-top: 10px;
}

.form-group{
    margin-left: 200px;
    margin-right: 200px;
}

#box1{
    margin-top: 53px;
    margin-bottom: 53px;
}

.btn{
    margin-left: 199px
}